/* header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-one); /* Change as needed */
  z-index: 1000; /* Ensures the header stays above other content */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.header .logo a {
  display: flex;
  flex-wrap: nowrap;
}
.header .logo img {
  height: 50px;
  width: auto;
  padding: 10px;
}

.header .inner-wrap {
  display: flex;
  background: var(--color-one);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.header .logo a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .logo span {
  font-weight: 600;
  color: var(--color-three);
  font-size: 25px;
  margin-left: 10px;
}

.header .logo p {
  font-weight: 600;
  font-size: 25px;
}
.header .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.header .menu ul li {
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.header .menu ul li a {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  padding: 30px;
  text-decoration: none;
  color: var(--color-three);
}
.header .menu ul li a:hover {
  background: white;
  color: var(--color-four);
}
.header .social-logo ul {
  display: flex;
  margin-block-end: 0;
  flex-wrap: nowrap;
}
.header .social-logo ul li {
  background-color: white;
  margin-left: 10px;
  border-radius: 25px;
}

.header .social-logo ul li a {
  color: var(--color-three);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.inner-icon-mobile {
  display: none;
}
.section-two .left {
  width: 100%;
  height: auto;
}
/* header */
/*section one */
.section-one {
  background-image: url("https://mobirise.com/extensions/softwarem4/software-app/assets/images/background1.jpg");
  padding: 150px 0px;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  background-position: center;
  background-size: cover;
}
.section-one::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.section-one .container {
  position: relative;
  color: var(--color-one);
}
.section-one .subtitle {
  font-size: 20px;
  font-weight: 600;
}
.section-one .title {
  font-weight: 700;
}

.section-one .des {
  font-weight: 500;
  color: var(--color-four);
}
.section-one .buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.button {
  background: var(--color-two);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  margin-right: 10px;
  color: black;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
}
.button:hover {
  text-decoration: none;
  color: black;
}
.btn-1:hover {
  background-color: var(--color-one);
}
.btn-2 {
  background-color: transparent;
  color: var(--color-one);
  border: solid 0.1px;
}
.btn-2:hover {
  background-color: var(--color-two);
}
/* Endsection one */

/* section-two  */

.section-two {
  padding: 100px 0px;
  background-color: var(--color-one);
}

.section-two .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
}
.section-two .container .left {
  width: 40%;
  height: auto;
  margin-right: 50px;
}
.section-two .container img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.section-two .container .right {
  margin-left: 40px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.section-two .container .right .sub-title {
  color: var(--color-four);
  font-weight: 700;
}
.section-two .container .right .title {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 20px;
}
.section-two .container .right ul {
  display: flex;
  padding-inline-start: 0px;
  flex-wrap: wrap;
}
.section-two .container .right li {
  background: white;
  height: 150px;
  width: 150px;
  margin-right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.section-two .container .right li i {
  font-size: 50px;
  color: var(--color-text);
  margin-bottom: 10px;
}
.section-two .container .right span {
  font-weight: 700;
}
.section-two .container .des {
  color: var(--color-four);
  font-size: 17px;
  margin: 20px 0;
}
.section-two .container .button {
  font-weight: 900;
  font-size: 20px;
  height: 80px;
  width: 200px;
}
/* Section-three */
.section-three {
  padding: 100px;
  background: var(--color-one);
}

.section-three .inner-wrap {
  padding-top: 50px;
  padding-left: 20px;
  display: flex;
  background: white;
  position: relative;
  border-radius: 10px;
  
}
.section-three .right {
  width: 40%;
  margin-bottom: 0px;
}
.section-three .left {
  flex: 1;
  padding: 20px 50px;
}
.section-three .right img {
  width: 100%;
  height: auto;
  margin-top: -90px;
  margin-bottom: 0px;
  border-radius: 8px;
}
.section-three .left .sub-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-four);
}
.section-three .left .title {
  font-size: 50px;
  font-weight: 800;
}
/*End Section-three */

/* section-four */
.section-four .container .sub-title::before {
  position: absolute;
  top: -5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(239, 239, 239);
  width: 40px;
  height: 40px;
  content: "✓";
  border-radius: 50%;
}

/*End section-four */
.section-four {
  padding: 70px 20px;
}
.section-four .inner-wrap .inner-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-four .inner-wrap .inner-desc {
  color: var(--color-four);
  margin-bottom: 20px;
}
.section-four .inner-wrap .sub-title {
  color: var(--color-four);
  margin-bottom: 30px;
  margin-left: 40px;
}
/* section-five */

.section-five {
  background: var(--color-one);
  padding: 60px;
}
.section-five .inner-wrap .inner-title {
  text-align: center;
  font-size: 60px;
  font-weight: 650;
  margin-bottom: 50px;
}
.section-five .inner-wrap .inner-img {
  text-align: center;
  aspect-ratio: 4/3;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  cursor: pointer;
}
.section-five .inner-wrap .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-five .inner-wrap .sub-title {
  color: var(--color-four);
  font-size: 15px;
  font-weight: 700;
  padding: 0px 35px;
  padding-top: 35px;
  background: white;
  cursor: pointer;
}
.section-five .inner-wrap .title {
  color: var(--color-three);
  font-size: 25px;
  font-weight: 700;
  padding: 0 35px;
  padding-bottom: 30px;
  background: white;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  margin-bottom: 30px;
}
/*End section-five */

/* Section-six */
.section-six {
  background-color: var(--color-five);
  padding: 100px 40px;
}

.section-six .inner-title {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 40px;
}
.section-six .container .inner-img {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  aspect-ratio: 16/9;
  border-radius: 15px;
  overflow: hidden;
}
.section-six .container {
  position: relative;
}
.section-six .contaner img {
  width: 100%;
  height: 100%;
}
.section-six .container .inner-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 30px;
  
}
/* form-section */
.form-section{
  padding: 50px 0px;
  background-color:var(--color-one) ;
  display: flex;
  justify-content: center;
}
.form-section .container{
  background-color: var(--color-five);
  border-radius: 15px;
  padding: 80px 70px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;

}
.form-section .container .inner-subtitle{
  font-weight: 700;
  font-size: 20px;
}
.form-section .container .inner-title{
  font-weight: 700;
  font-size: 60px;
}
.form-section .container .input{
  width: 100%;
}
.form-section .container .form-control{
  border: 0px;
  padding: 20px 25px;
}
.form-section .container .col-xl-4{
  padding: 5px 5px;
}
.form-section .container .form-control:focus{
  outline: none;
}
.form-section .container .col-xl-12{
  padding: 5px 5px;
  border-radius: 15px;
}
.button{
  border: 0px;
}
.btn-dark{
  background-color: var(--color-three);
  color: #ffffff;
  font-size: 15px;
}
/* End form-section */
@keyframes icons {
  from {
    width: 120px;
    height: 120px;
    opacity: 0.8;
  }
  to {
    width: 160px;
    height: 160px;
    opacity: 0;
  }
}
.section-six .container:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 50%;
  animation-duration: 1s;
  animation-name: icons;
  animation-iteration-count: infinite;
  z-index: 1;
}
/* End Section-six */

@media (max-width: 1198.98px) {
  .header .container .inner-wrap {
    flex-wrap: nowrap;
  }

  .header .logo a {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
  }
  .header .menu ul {
    flex-wrap: nowrap;
  }
  .header .inner-wrap .logo,
  menu,
  .social-logo {
    flex-wrap: nowrap;
  }
  .header .container .inner-wrap .menu .ul {
    flex-wrap: nowrap;
    width: 10%;
  }
}
@media (max-width: 767.98px) {
  .header .inner-icon-mobile {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .header .container .logo .inner-logo {
    display: flex;
    flex-wrap: nowrap;
  }
  .menu {
    display: none;
  }
  .social-logo {
    display: none;
  }
  .section-one .container .title,
  .subtitle {
    text-align: center;
  }
  .section-one .container .des {
    text-align: center;
    margin-bottom: 10px;
  }
  .section-one .container .buttons {
    justify-content: center;
  }

  .section-two .container .left {
    width: 80%;
    margin-bottom: 20px;
  }

  .section-two .container .right {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
  .section-two .container .right .title {
    font-size: 25px;
  }
  .section-two .container .right ul {
    justify-content: center;
  }
  .section-two .container .right .des {
    text-align: center;
  }
  .section-two .container .right .sub-img li {
    margin-bottom: 10px;
  }
}
@media (max-width: 676.98px) {
  .header {
    padding-right: 0px;
  }
  .header .container {
    padding-right: 0px;
  }
  .section-one .buttons a {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    width: 150px;
  }
  .section-two .container .right li {
    height: 130px;
    width: 130px;
  }
  .section-two .container .button {
    height: 50px;
    width: 150px;
    font-size: 17px;
  }
  .section-three .left .title,
  .section-three .left .title {
    font-size: 30px;
  }
  .section-three {
    padding-bottom: 20px;
    padding: 10px 5px;
    margin-bottom: 50px;
  }
  .section-three .left {
    width: 100%;
    flex: none;
  }
  .section-three .left {
    width: 100%;
    flex: none;
  }
}
